<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talky.chattingapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/shortcut"
        android:label="@string/app_name"
        android:roundIcon="@drawable/shortcut"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChattingApp">

        <activity android:name="com.talky.chattingapp.AboutUsActivity" />
        <activity android:name="com.talky.chattingapp.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.talky.chattingapp.ResetPasswordActivity"
            android:parentActivityName="com.talky.chattingapp.LoginActivity" />
        <activity android:name="com.talky.chattingapp.MessageActivity" />
        <activity android:name="com.talky.chattingapp.StartActivity" />
        <activity
            android:name="com.talky.chattingapp.RegisterActivity"
            android:parentActivityName="com.talky.chattingapp.StartActivity" />
        <activity android:name="com.talky.chattingapp.MainActivity" />
        <activity
            android:name="com.talky.chattingapp.LoginActivity"
            android:parentActivityName="com.talky.chattingapp.StartActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>